<dialog id="add_task_modal" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold text-center">Nova Tarefa</h3>
    <form
      class="w-full p-4"
      method="post"
      hx-post="{{ url_for('task.add_task_modal') }}"
      hx-target=".task-items"
      hx-swap="beforeend"
      hx-on="htmx:afterRequest: document.getElementById('add_task_modal').close()"
    >
      {{ form.hidden_tag() }}
      <input
        type="hidden"
        name="task_id"
        value="{{ request.args.get('task_id') }}"
      />

      <section class="w-full space-y-2">
        {{ form.title(class="input input-bordered input-md w-full focus:outline-none focus:bg-zinc-100", placeholder_="Nova Tarefa") }} 
        {{ form.priority(class="select select-bordered w-full focus:outline-none focus:bg-zinc-100", placeholder_="Prioridade") }} 
        {{ form.description(class="w-full textarea textarea-bordered focus:outline-none focus:bg-zinc-100", placeholder_="Observações") }}
      </section>
      <section class="mt-4 text-white w-full">
        <button class="btn btn-primary btn-md w-full">Salvar</button>
      </section>
    </form>
  </div>
</dialog>
