<aside class="bg-zinc-50 p-4 border-r border-gray-200 basis-16 flex flex-col gap-2">

  <a href="#" class="flex items-center justify-center transition-colors duration-300 ease-in-out select-none cursor-pointer p-2 bg-zinc-100 hover:bg-indigo-100 active:scale-95">
    <i class="ph ph-airplane text-2xl"></i>
  </a>
  <a href="#" class="flex items-center justify-center transition-colors duration-300 ease-in-out select-none cursor-pointer p-2 bg-zinc-100 hover:bg-indigo-100  active:scale-95">
    <i class="ph ph-airplay text-2xl"></i>
  </a>
  <a href="#" class="flex items-center justify-center transition-colors duration-300 ease-in-out select-none cursor-pointer p-2 bg-zinc-100 hover:bg-indigo-100  active:scale-95">
    <i class="ph ph-app-window text-2xl"></i>
  </a>
  <a href="{{ url_for('core.logout') }}" class="flex items-center justify-center mt-auto transition-colors duration-300 ease-in-out select-none cursor-pointer p-2 bg-zinc-100 hover:bg-indigo-100  active:scale-95">
    <i class="ph ph-arrow-circle-right text-2xl"></i>
  </a>

</aside>
