{% macro task_card(task_item) %}
<li id="task-item-{{ task_item.id }}" class="bg-zinc-50 border-zinc-400 rounded-sm shadow-md relative draggable task-item" draggable="true">
  <div class="bg-slate-200 h-5 cursor-grab"></div>
  <div class="absolute top-3 left-2 flex items-center gap-1">
    <span class="h-3 w-3 bg-blue-400"></span>
    <span class="h-3 w-3 bg-blue-400"></span>
    <span class="h-3 w-3 bg-red-400"></span>
  </div>
  <div class="absolute top-2 right-2">
    <img class="rounded-sm w-8 h-8" src="{{ url_for('static', filename='img/face-1.png' )}}" alt="">
  </div>
  <div class="p-2">
    <header class="text-sm font-normal flex items-center py-2">
      <span>{{ task_item.title }}</span>
    </header>
    <section class="py-1 gap-2 text-xs text-zinc-500">
      <p>Quem: {{ task_item.owner }}</p>
      <p>Prioridade: {{ task_item.priority }}</p>
    </section>
    <section class="flex items-center py-1 gap-2 justify-end text-zinc-500">
      <a href="#" class="text-lg flex items-center"><i class="ph ph-paperclip"></i></a>
      <a href="#" class="text-lg flex items-center"><i class="ph ph-chat-text"></i></a>
    </section>
  </div>
</li>
{% endmacro %}

{% macro task_section(task) %}
<section id="task-{{ task.id }}" class="task border-x p-2 bg-white overflow-y-auto shadow" ondrop="drop(event)" ondragover="allowDrop(event)">
  <header class="p-2 text-md flex items-center justify-between bg-blue-50 mb-2 text-zinc-700">
    <h3 class="">{{ task.title }}</h3>
    {% if task.isAllowedTask %}
      <a href="#" class="p-1 bg-indigo-400 hover:bg-indigo-300 active:bg-indigo-500 flex items-center justify-center text-white"><i class="ph ph-plus"></i></a>
    {% endif %}
  </header>

  <ol class="space-y-4 task-items">
    {% for task_item in task.task_items %}
        {{ task_card(task_item) }}
    {% endfor %}
  </ol>
</section>
{% endmacro %}
