<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
    <script src="{{ url_for('static', filename='js/htmx.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <title>FlaskTask</title>
</head>
<body>
    <div class="flex w-full h-full bg-white overflow-hidden">
        {% include '_partials/aside.html' %}
        
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>